#mangassubscriber_nav_bar * {
	box-sizing: border-box;
}
  
.mangassubscriber_hidden {
	display: none;
}

.mangassubscriber_table {
	display: table;
}

.mangassubscriber_row {
	display: table-row;
}

.mangassubscriber_cell {
	display: table-cell;
	vertical-align: middle;
}

.navigation_bar_spacer {
	position: relative;
	top: 2.2rem;
}

#mangassubscriber_nav_bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0.2rem;
	background-color: black;
	z-index: 10000;
    border-bottom: 1px solid gray;
    font-size: 1rem;
}

.left_nav_button {
	margin-right: 0.2rem;
	float:left;
}

.right_nav_button {
	margin-left: 0.2rem;
	float:right;
}

#mangassubscriber_nav_bar .mangassubscriber_button {
	padding: 0.2rem;
	cursor: pointer;
	
	text-align: center;
	
	box-sizing: border-box;
	background: #363636;
	border: 1px solid gray;
	border-radius: 7px;
	color: #EEEEEE;
}

#mangassubscriber_nav_bar .mangassubscriber_button:hover {
	color: #FAB400;
	border: 1px solid #FAB400;
}

#mangassubscriber_nav_bar .mangassubscriber_button:hover * {
	color: #FAB400;
}

.centered {
	position: absolute;
	top: 0.2rem;
	left: 50%;
	transform: translate(-50%);
}

.centered:hover > * {
	display : block;
}

.text_icons {
	height: 1.25rem;
	padding: 0rem 0.5rem;
}