
.onethird {
	width: 33.3%;
}

.table {
    display: table;
    background-color: white;
    position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0%);
    border: 1px solid black;
}
.row {
    display: table-row;
}
.row:hover {
	background-color: #e5e5e5;
}
.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 15px;
}

.align_center {
    text-align: center;
}