html, body {
	width: 98vw;
	font-size: 1.2em;
}
.details{
	float: right;
	margin-right: 20px;
	font-size: 0.5em;
}
.title{
	font-size: 3em;
	color: #5b00b5;
}

.options_menu{
	margin-left: 30px;
}
table, tr {
	width: 100%;
	border-collapse: collapse;
}

tr:not(#list_container):hover {
	background-color: #e5e5e5;
}

tr td {
	border-bottom: 1px solid black;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

label {
	width: 100%;
}

.import_file {
	vertical-align: center;
}

.import_options {
	font-size: 0.75em;
}

#search_list {
	width: 100%;
}

#complete_list {
	display: table;
	font-size: .75em;
	border: 1px solid black;
	width: 100%;
}

#complete_list .row {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
}

#complete_list .row:hover {
	background-color: #e5e5e5;
}

.row {
	display:table-row; 
}
.cell{
	display:table-cell;
	width:100%;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px solid black;
	vertical-align: middle;
}

.chapters_select {
	width: 100%;
	min-width: 100px;
}

.websites_select {
	width: 100%;
	min-width: 110px;
}

.read_chapter {
	background: #ddffee;
}

.unread_chapter {
	background: #ffeedd;
}

.unread_number {
	text-align: right;
	color: red;
}

.read_number {
	text-align: right;
	color: green;
}

.tooltiptextcontainer{
	position: relative;
	width: 100%;
}

.tooltiptextcontainer .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1px;
    border-radius: 6px;
	font-size: 1em;

    /* Position the tooltip text */
    position: absolute;
    z-index: 50;
    bottom: 100%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltiptextcontainer .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 33%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltiptextcontainer:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Hide the tooltip text when you mouse over the tooltip itself */
.tooltiptextcontainer .tooltiptext:hover {
    visibility: hidden;
    opacity: 1;
}

.name_text{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 75vw;
}

.icons {
	width: 28px;
	height: 28px;
	border: 1px solid black;
}

.small_icons {
	width: 14px;
	height: 14px;
	border: 1px solid black;
}

.update_icon {
	background:url("/icons/high_resolution_update.png");
	background-size: contain;
}

.read_all_icon {
	background:url("/icons/high_resolution_read_all.png");
	background-size: contain;
}

.update_true_icon {
	background:url("/icons/high_resolution_update_true.png");
	background-size: contain;
}

.update_false_icon {
	background:url("/icons/high_resolution_update_false.png");
	background-size: contain;
}

.delete_icon {
	background:url("/icons/high_resolution_delete.png");
	background-size: contain;
}

.legend {
	font-size: 0.5em;
}