body {
	overflow-x: hidden;
	min-width: 800px;
	min-height: 600px;
}

* {
	box-sizing: border-box;
  }

.hidden {
	display: none !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.onehalf {
	width: 50%;
}

.onethird {
	width: 33.3%;
}

.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}

.left_padding {
	padding-left: 15px;
}

.field_container {
	height: 2.3rem;
	line-height: 2.3rem;
	vertical-align: middle;
}
.field_container label {
	height: 2.3rem;
	float : left;
}
.field_container input {
	height: 2.3rem;
	float : left;
}
.field_container .input_button {
	position: relative;
	width: 2.3rem;
	height: 2.3rem;
	border: 1px solid black;
	float : left;
}
.input_button > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	text-align: center;
}

h2 {
	color: #5b00b5;
}

/****************************************
MENU SECTION
****************************************/
#menu {
	position: fixed;
	top: 0px;
	padding-bottom: 1px;
	width: 100vw;
	z-index: 1;
}

.extension_name {
	font-size: 2.5rem;
	padding: 5px;
}

.extension_version {
	font-size: 1rem;
	padding: 10px 0px 0px 5px;
}

.tab {
	padding: 5px;
}

.tab:hover {
  background-color: #EEEEEE;
}

.selected_tab {
	background-color: #DDDDDD;
}
/****************************************
MENU END
****************************************/



/****************************************
PANELS SECTION
****************************************/
.panel {
	position: fixed;
	top: 52px;
	width: 100vw;
	height: 0px;
	overflow: hidden;
	border: 1px solid black;
	background: white;
	z-index: 5;
	transition: height 0.25s;
}

.visible_panel {
	height: calc(100vh - 52px);
	z-index: 10;
}

/****************************************
CONSOLE PANEL
****************************************/
#console {
	overflow: hidden;
}

#console_display {
	height: calc(100vh - 1.25rem - 10px);
	max-height: calc(100vh - 1.25rem - 10px);
	width: 100vw;
	overflow-y: scroll;
}

.console_line {
	border-top: 1px solid gray;
	padding-top: 2px;
	margin-top: 2px;
}
.console_name_text {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	width: calc(100vw - 2px - 11rem - 10rem - 17px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.console_from {
	width: 11rem;
}
.console_status {
	width: 10rem;
}

.console_details {
	margin-left: 25px;
	padding: 0px 10px 0px 5px;
	vertical-align: middle;
	border-left: 1px solid red;
}

.button {
	padding: 4px;
	font-size: 1.25rem;
	cursor: pointer;
	
	text-align: center;
	
	background: #EEEEEE;
	border: 1px solid gray;
	border-radius: 7px;
}
.button:hover {
  background-color: #8a8a8a;
}
/****************************************
CONSOLE END
****************************************/



/****************************************
OPTIONS PANEL
****************************************/
#options {
	font-size: 1.5rem;
	padding: 0px 15px;
}

#options > div {
	vertical-align: middle;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 5px 0px 5px 15px;
	min-height: 2rem;
}

#options .line:hover {
	background-color: #e5e5e5;
}

#auto_update_interval, #search_limit_number {
	width: 6rem;
}
/****************************************
OPTIONS END
****************************************/



/****************************************
HELP PANEL
****************************************/
#help {
	overflow-y: scroll;
}

.section {
	min-height: 3rem;
	overflow: hidden;
}

.small_image {
	width: 50%;
}
.zoom img {
	transition: width 1s, height 1s;
}
.zoom img:hover {
	width: 75%;
	height: 75%;
}

.separator {
	border-top: 5px ridge silver;
	padding: 2rem 0px 2rem 2rem;
}

ul {
	padding-left: 30px;
}

.tooltip {
	text-decoration: underline dotted red;
}
/****************************************
HELP END
****************************************/



/****************************************
SEARCH PANEL
****************************************/
#search {
	overflow-y: scroll;
}
#search .field_container {
	width: 100%;
	z-index: 110;
}

#search_field {
	width: calc(100% - 2.3rem);
}
/****************************************
SEARCH END
****************************************/

/****************************************
PANELS END
****************************************/


/****************************************
LIST SECTION
****************************************/
.list_top {
	position: fixed;
	top: 52px;
	width: 800px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1.25em;
	z-index: 1;
	border-collapse: separate;
	padding: 10px;
	background: white;
	vertical-align: middle;
}

#filter_list {
	width: 31.5rem;
}

.selected {
	border: 2px solid black;
}

#list_container {
	margin-top: 134px;
	max-height: calc(100vh - 134px);
	height: calc(100vh - 134px);
	overflow-x: hidden;
	overflow-y: scroll;
}
#list {
	width: 783px;
	max-width: 783px;
	background: white;
	border-collapse: collapse;
}

.list_line {
	font-size: 1.25em;
	width: 783px;
	max-width: 783px;
	background-color: white;
	transition: height 0.1s;
	height: 39px;
	overflow: hidden;
	border-bottom: 1px solid black;
}
.list_line:hover {
	background-color: #e5e5e5;
	height: 83px;
}
.list_cell {
	display: inline-block;
	padding: 5px;
	vertical-align: middle;
}

.name_text {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(783px - 4 * 10px - 65px - 50px - 90px - 28px - 5px);
	width: calc(783px - 4 * 10px - 65px - 50px - 90px - 28px - 5px);
}

.chapters_select {
	width: 90px;
}

.last_updated {
	width: 75px;
}

.websites_select {
	width: 150px;
}

.read_chapter {
	background: #ddffee;
}

.unread_chapter {
	background: #ffeedd;
}

.unread_number {
	width: 50px;
}

.align_right {
	text-align: right;
}

.green_text {
	color: green;
}

.red_text {
	color: red;
}

/****************************************
MODAL
****************************************/
.modal_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000bb;
	opacity: 0;
	visibility: hidden;
	/*transform: scale(1.1);*/
	transition: visibility 0s linear 0.5s, opacity 0.5s, transform 0.5s;
	z-index: 100;
}
#modal_window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 12px 18px;
	border-radius: 0.5em;
	width: 500px;
	max-width: 500px;
	max-height: 600px;
}

#modal_title {
	width: 100%;
	font-size: 1.75em;
	text-align: center;
	text-decoration: bold;
	padding: 18px 12px;
	max-height: 3.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

#modal_content {
	width: 464px;
	max-height: 464px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#modal_agree {
	float: left;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: lightgray;
	border: 1px solid red;
}
#modal_agree:hover {
	background-color: darkgray;
}

#modal_cancel {
	float: right;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: lightgray;
	border: 1px solid black;
}
#modal_cancel:hover {
	background-color: darkgray;
}

#modal_dismiss {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: lightgray;
	border: 1px solid black;
}
#modal_dismiss:hover {
	background-color: darkgray;
}

.show_modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.5s, transform 0.5s;
}

.modal_list_line {
	font-size: 1.25em;
	width: 447px;
	background-color: white;
	overflow: hidden;
	padding: 6px 0px;
	border-bottom: 4px ridge lightgray;
}
.modal_list_line:hover {
	background-color: #e5e5e5;
}


.delete_modal_list_line {
}
.delete_modal_list_line #modal_title {
	text-decoration: underline red;
}
.delete_modal_list_line .name_text {
	padding-left: 0px;
	width: 419px;
	max-width: 419px;
}

.website_modal_list_line {
}
.website_modal_list_line .name_text {
	padding-left: 10px;
	width: 391px;
	max-width: 391px;
}

.search_modal_list_line {
}
.search_modal_list_line:hover {
	background-color: white;
}
.search_modal_list_line .name_text {
	padding-left: 10px;
	width: 100%;
	max-width: 100%;
}

.tags_modal_list_line {
}
.tags_modal_list_line .name_text {
	font-size: 1.25em;
	padding-left: 10px;
	width: 391px;
	max-width: 391px;
}

.result_line {
	padding: 3px;
	border-bottom: 1px dashed lightgray;
}
.result_line:hover {
	background-color: #e5e5e5;
}
.result_line div {
	min-width: 418px;
	max-width: 418px;
}
/****************************************
MODAL END
****************************************/

/****************************************
LIST END
****************************************/

.icons {
	width: 28px;
	height: 28px;
}

.small_icons {
	width: 14px;
	height: 14px;
}

.large_icons {
	width: 42px;
	height: 42px;
}

.text_icons {
	width: 1.2rem;
	height: 1.2rem;
}
