html, body {
	/*width: 400px;*/
	overflow-x: hidden;
}

.button {
	padding: 4px;
	text-align: center;
	font-size: 1.25em;
	cursor: pointer;
	background-color: #000000;
	color: #00ff00;
}

.button:hover {
  background-color: #505050;
}

table, tr {
	width: 100%;
	border-collapse: collapse;
}

.mangas_list {
	max-height: 50vh;
}

#list {
	width: 400px;
}

#list tr:hover {
	background-color: #e5e5e5;
}

#list tr td {
	border-bottom: 1px solid black;
	font-size: 1em;
}

td select, td button{
	width: 100%;
	font-size: 1em;
}

.unread_number {
	text-align: right;
	color: red;
}

.read_number {
	text-align: right;
	color: green;
}

.list_top {
	font-size: 1em;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
}

.all_releases {
	border-left:1px solid #505050;
}
.tooltiptextcontainer{
	position: relative;
}

.name_text{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	width: 100%;
	max-width: 60vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tooltiptextcontainer .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 50;
    bottom: 100%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltiptextcontainer .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 33%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltiptextcontainer:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptextcontainer .tooltiptext:hover {
    visibility: hidden;
    opacity: 1;
}

.icons {
	width: 24px;
	height: 28px;
	border: 1px solid black;
}

.small_icons {
	width: 14px;
	height: 14px;
	border: 1px solid black;
}

.open_icon {
	background:url("/icons/high_resolution_open.png");
	background-size: contain;
	background-repeat: no-repeat;
}